body {
  font-family: sans-serif;
  padding: 10px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.require-label {
  width: 100%;
}
.requirements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.requirements .ui.container {
  width: 30%;
}

.ui.container {
  max-width: 90%!important;
}

.container-r {
  width: 30%;
}
/* .requirements .result {
  float: left;
} */
.result {
  justify-content: center;
}
.button-result {
  min-width: 100%;
}
.container-size .ui.container {
  max-width: 500px !important;
  padding: 15px;
}
.user-info {
  background-color: aqua;
  margin: 30px;
  border-radius: 25px;
}
#user-info-li {
  padding: 10px;
}

/* Semantic UI overrides */
.ui.form .field {
  margin-left: 10px;
  align-content: center;
}

.ui.positive.button {
  margin-top: 10px;
}

.ui.primary.button {
  margin-left: 10px;
}

.ui.blue.button {
  justify-self: right;
}

img.ui.image {
  display: inline;
  margin-right: 10px;
}

i.icon.heart:after {
  background-color: black;
}

.ui.card, .ui.cards>.card {
  min-height: 343px;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  min-height: 50px;
}

h2.ui.header {
  text-align: center;
}

nav {
  text-align: center;
  font-size: large;
}

div a {
  text-align: center;
}

div form {
  text-align: center;
  justify-content: center;
}

/* .ui.tiny.image {
  width: 40px;
} */

/* Slick overrides */
/* button.ui.button {
  background-color: blue
} */
