body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.require-label {
  width: 100%;
}
.requirements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.requirements .ui.container {
  width: 30%;
}
.container-r {
  width: 30%;
}
/* .requirements .result {
  float: left;
} */
.result {
  justify-content: center;
}
.button-result {
  min-width: 100%;
}

/* Semantic UI overrides */
.ui.form .field {
  margin-left: 10px;
  align-content: center;
}

.ui.positive.button {
  margin-top: 10px;
}

.ui.primary.button {
  margin-left: 10px;
}

.ui.blue.button {
  justify-self: right;
}

img.ui.image {
  display: inline;
  margin-right: 10px;
}

i.icon.heart:after {
  background-color: black;
}
/* .ui.tiny.image {
  width: 40px;
} */

/* Slick overrides */
/* button.ui.button {
  background-color: blue
} */
