body {
  font-family: sans-serif;
  padding: 10px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin-right: 16px;
}
.ui.search>.results{
  min-width: 40vw;
}

form div {
  margin: 1em;
  display: inline-block;
}
.require-label {
  width: 100%;
}
.requirements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.requirements .ui.container {
  width: 30%;
}

.ui.container {
  max-width: 90% !important;
}

.container-r {
  width: 30%;
}
/* .requirements .result {
  float: left;
} */
.result {
  justify-content: center;
}
.button-result {
  min-width: 100%;
}
.container-size .ui.container {
  max-width: 500px !important;
  padding: 15px;
}
.user-info {
  background-color:white;
  margin: 30px;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}
#user-info-li {
  padding: 10px;
}
.onboard-nav {
  padding: 15px;
}
/* Semantic UI overrides */
.ui.form .field {
  margin-left: 10px;
  align-content: center;
}

.ui.positive.button {
  margin-top: 10px;
}

.ui.primary.button {
  margin-left: 10px;
}

.ui.blue.button {
  justify-self: right;
}

img.ui.image {
  display: inline;
  margin-right: 10px;
}

.ui.card,
.ui.cards > .card {
  min-height: 343px;
}

.ui.card > .content > .header:not(.ui),
.ui.cards > .card > .content > .header:not(.ui) {
  min-height: 50px;
}

.ui.card>.content {
  text-align: center;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown){
  margin: 0;
}

h2.ui.header {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 12px;
}

.ui.huge.header{
  font-size: 40px;
}

.nav-icon{
  padding: 0;
  margin: 0!important;
}

.ui.huge.header:hover{
  font-size: 40px;
}

.ui.icon.input>input {
  min-width: 40vw;
}

.ui.huge.button:hover {
  background-color: #21ba45;
  color: white
}

.ui.form input[type=search] {
  display: flex;
  min-width: 40vw;
}

div a{
  color: black;
}

.ui.menu .active.item{
  color: rgb(16, 66, 31);
}

.ui.menu .item {
  padding: 0px 5px 0px 5px;
  position: static;
}

.ui.menu .item.hoverable:hover {
  background-color: rgb(48, 180, 87);
  font-weight: bolder;
  color: white
}

.navbar-search:hover {
  background-color: none;
}

nav {
  text-align: center;
  font-size: large;
}

div a {
  text-align: center;
  font-size: 17px;
}

div form {
  text-align: center;
  justify-content: center;
}

/* .ui.tiny.image {
  width: 40px;
} */

/* Slick overrides */
/* button.ui.button {
  background-color: blue
} */

/* button.ui.blue.button {
  justify-content: flex-end;
} */

div.ui.segment {
  display: flex;
  justify-content: space-between;
  max-height: 130px;

  background-color:eeee;
}

div.ui.segment a {
  text-align: center;
  margin-top: 40px;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-size: 20px;
  color: black;
}

div.ui.segment a:hover {
  color: #2185d0;
}

/* .flex-container {
  display: flex;
  justify-content: space-between;
} */

a.content {
  background-color: lightblue;
  color: lightblue;
}

body {
  background-color: #f1f1f1
}

/* div {
  background-color:#7C8ABD;
  color:black;
} */

div.extra.content {
  background-color: aliceblue;
}

.ui.card > .content,
.ui.cards > .card > .content {
  background-color: white;
}
